/* GLOBAL STYLES */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/*----------------------------------------------------------------------------*/
/* CUSTOMIZE THE NAVBAR */
/*----------------------------------------------------------------------------*/

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* CUSTOMIZE THE BODY */
.body-fixed {
  position: absolute;
  top: 10%;
  text-align: center;
}

.item-resize {
  max-height: 250px;
  overflow-y:auto;
}

.container-half {
  height: 50%;
}

.full-cover {
  position: absolute;
  top: 10%;
}

.fixed {
  position: fixed;
}

/*----------------------------------------------------------------------------*/
/* CUSTOMIZE THE CAROUSEL */
/*----------------------------------------------------------------------------*/

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/*----------------------------------------------------------------------------*/
/* MARKETING CONTENT */
/*----------------------------------------------------------------------------*/

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
  height: 100%;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/*----------------------------------------------------------------------------*/
/* Featurettes */
/*----------------------------------------------------------------------------*/

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*----------------------------------------------------------------------------*/
/* Masonry Grid CSS */
/*----------------------------------------------------------------------------*/
/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: 20%;
}
/* 2 columns */
.grid-item--width2 {
  width: 40%;
}


/*----------------------------------------------------------------------------*/
/* Responsive CSS */
/*----------------------------------------------------------------------------*/
/* Cell Phones */
@media (min-width: 350px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 5%;
  }
  .navbar-wrapper .container {
    /*padding-right: 15px;
    padding-left: 15px;*/
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .carousel {
    height: 400px;
    margin-bottom: 60px;
  }

  .carousel .item {
    height: 400px;
    background-size: cover;
  }

  .carousel-inner > .item > img {
    height: 432px;
    width: 768px;
    background-size: cover;
  }
}

/* Small Devices with screen width 768 pixels and up */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 5%;
  }
  .navbar-wrapper .container {
    /*padding-right: 15px;
    padding-left: 15px;*/
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .carousel {
    height: 500px;
    margin-bottom: 60px;
  }

  .carousel .item {
    height: 500px;
    background-color: #777;
    background-size: cover;
  }
  .carousel-inner > .item > img {
    position: absolute;
    /* Maintain the 16:9 aspect ratio */
    width: 992px;
    height: 558px;
    background-size: cover;
  }
}

/* Medium devices like desktops or laptops 992 pixels and up */
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }

  .body-fixed {
    left: 10%;
  }

  .carousel {
    height: 600px;
    margin-bottom: 60px;
  }

  .carousel .item {
    height: 600px;
    background-size: cover;
  }

  .carousel-inner > .item > img {
    height: 675px;
    width: 1200px;
    background-size: cover;
  }

/* Extra large devices 1200 pixels and up */
@media (min-width: 1200px) {
  .carousel {
    height: 750px;
    margin-bottom: 60px;
  }

  .carousel .item {
    height: 750px;
    background-size: cover;
  }

  .carousel-inner > .item > img {
    height: 1013px;
    width: 1800px;
    background-size: cover;
  }

  .carousel-caption {
    z-index: 10;
    font-size: large;
  }
}
/* Extra Extra Widescreen */
@media (min-width: 1800px) {
  .carousel {
    height: 900px;
    margin-bottom: 60px;
  }

  .carousel .item {
    height: 900px;
    background-size: cover;
  }

  .carousel-inner > .item > img {
    height: 1300px;
    width: 2311px;
    background-size: cover;
  }
}
