/* Colors from http://materializecss.com/color.html */

.navbar {
  background: #66bb6a;
}

.content {
  background: #fff;
}

.side-text {
  font-size: 1em;
  line-height: 1.1;
}

/* Class for when element is above threshold */
.pin-top {
  position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
  position: relative;
}

/* Class for when element is pinned */
.pinned {
  position: fixed !important;
}

html, body, .block {
  height: 100%;
}

#youtube {
	width: 90%;
	margin-left: auto;
	overflow: hidden;
}
