---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include page_head.html %}
  </head>
  <body>
    <header>
      {% include navbar.html %}
      {% include about_me_bar.html %}
    </header>
    <main>
      <div class="row content">
        <div class="col s12 content">
          <div class="col s12 m10 offset-m2 l10 offset-l2">
          	<br/><br/><br/>
          	<!-- Copy this section and paste it below this comment to add a new section -->
          	<!-- Add a copy of this line to separate each post: <br/><br/><br/><br/>-->
          	<div class="main row">
          		<h3>Release Judgement. Release Fear. Just Practice.</h3>
          		<div class="divider"></div>
          		<p>I go to yoga class at least once a week. Yoga is an excellent practice to improve mobility, flexibility, and core strength. It is also an excellent practice for calming your mind and focusing on the moment. To many times we focus on judging ourselves and others. We focus on performance and not practice. This focus creates fear and instability. This focus causes injury and a loss of balance. It is important to step back and let go of the fear and judgement. Let go of any preconceived notions you had or any expectations. Life is not about being great at everything you do. That would be boring. Life is about practice. Learn new things. Fail. Get up and try it again. The practice is a journey that you take on to grow as a person. You must let yourself go. You cannot hold yourself back with thoughts. The next time you go to exercise or try something new remember this. Let go of judgement. Let go of fear. Just practice.
Letting go of judgement means letting go of the judgements you make of yourself. You are not good enough. You can’t. I suck. Or any other thought, even positive ones. Let go of the thought process that criticizes the process. Instead fill it with visualizations of succeeding. 
Letting go of fear means forgetting what failure feels like. Letting go of the concept that you should be better or good at what you are learning. Fear causes negative thoughts. It creates limitations. It stands in your way of success. Focus on the process and the fear of failure.
</p>
          	</div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="row">
        </div>
      </div>
    </footer>
    {% include page_footer.html %}
  </body>
</html>
