---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include page_head.html %}
  </head>
  <body>
    <header>
      {% include navbar.html %}
      {% include about_me_bar.html %}
    </header>
    <main>
      <div class="row content">
        <div class="col s12 content">
          <div class="col s12 m10 offset-m2 l10 offset-l2">
          	<br/><br/><br/>
          	<!-- Copy this section and paste it below this comment to add a new section -->
          	<!-- Add a copy of this line to separate each post: <br/><br/><br/><br/>-->
          	<div class="main row">
          		<h3>Title</h3>
          		<div class="divider"></div>
          		<p>Content</p>
          	</div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="row">
        </div>
      </div>
    </footer>
    {% include page_footer.html %}
  </body>
</html>
