---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include page_head.html %}
  </head>
  <body>
    <header>
      {% include navbar.html %}
      {% include about_me_bar.html %}
    </header>
    <main>
      <div class="row content">
        <div class="col s12 content">
          <div class="col s12 m10 offset-m1 l10 offset-l2">
            <!-- Include all the content subpages: Testimonials, Contact, Media -->
            <div class="row pushpin-item scrollspy" data-target="welcome" id="welcome">
              {% include home_cards.html %}
            </div>
            <br><br><br><br><br><br>
            <div class="row pushpin-item scrollspy" data-target="media" id="media">
              {% include media.html %}
            </div>
            <br><br><br><br><br><br>
            <div class="row pushpin-item scrollspy" data-target="packages" id="packages">
              {% include packages.html %}
            </div>
            <br><br><br><br><br><br>
            <div class="row pushpin-item scrollspy" data-target="personal_training" id="personal_training">
              {% include personal_training.html %}
            </div>
            <br><br><br><br><br><br>
            <div class="row pushpin-item scrollspy" data-target="contact" id="contact">
              {% include contact.html %}
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="row">
        </div>
      </div>
    </footer>
    {% include page_footer.html %}
  </body>
</html>
