---
layout: main
title: Home
---

<div class="row content">
	<div class="col s12 content">
		<div class="col s12 m10 offset-m2 l10 offset-l2">
			<!-- Include all the content subpages: Testimonials, Contact, Media -->
            <!-- Temporarily commenting out the Welcome Cards section. -->
            <!-- Keep in place until Media section is expanded sufficiently -->
            <div class="main row" data-target="welcome" id="welcome">
            </div>
            <div class="row">
            	<div class="col s10 offset-s1 m4 offset-m4 l4 offset-l4 center-align">
  					<img class="responsive-img" src="img/bootcamp_flyer.jpg">
  				</div>
  			</div>
            <!-- <br/><br/><br/><br/> -->
            <div class="main row" data-target="media" id="media">
            	{% include media.html %}
            </div>
            <br/><br/><br/><br/>
            <div class="main row" data-target="packages" id="packages">
            	{% include packages.html %}
            </div>
            <br/><br/><br/><br/>
            <div class="main row" data-target="personal_training" id="personal-training">
            	{% include personal_training.html %}
            </div>
            <br/><br/><br/><br/>
            <div class="main row" data-target="contact" id="contact">
            	{% include contact.html %}
            </div>
		</div>
	</div>
</div>