---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include page_head.html %}
  </head>
  <body>
    <header>
      {% include navbar.html %}
      {% include about_me_bar.html %}
    </header>
    <main>
      <div class="row content">
        <div class="col s12 content">
          <div class="col s9 offset-s3">
            <!-- Include all the content subpages: Testimonials, Contact, Media -->
            <div class="row">
              {% include home_cards.html %}
            </div>
            <div class="row" id="media">
              {% include media.html %}
            </div>
            <div class="row">
              <div id="testimonials">
                <div class="col s4 offset-s4">
                  <h3 class="center-align">Testimonials</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div id="contact">
                <div class="col s4 offset-s4">
                  <h3 class="center-align">Contact Me</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="row">
        </div>
      </div>
    </footer>
    {% include page_footer.html %}
  </body>
</html>
