<ul class="side-nav fixed">
  <li class="logo"><a id="logo-container" href="index.html" class="brand-logo"></a></li>
  <li><img src="img/link.png" class="img-responsive center-block img-rounded" width="60%"></li>
  <li>I am Jaime Murillo, an ACE Certified Personal Trainer and outdoors enthusiast.My goal is to help everyone get the most out of life.
  </li>
  <li>I want people to feel young, be active, and enjoy every minute of it. I’ll provide the tools so that you can be your best self. Message me your questions and enjoy the articles.
  </li>
  <li>Follow me on social media or subscribe to my blog. I look forward to helping you achieve your fitness goals.
  </li>
  <li><a href="http://www.instagram.com/worklifeworkouts"><img src="img/insta_glyph.png" width="95%"></a>
  </li>
  <li><a href="http://www.facebook.com/worklifeworkouts"><img src="img/FB-f-Logo__blue_144.png" width="95%"></a>
  </li>
</ul>
