<div id="slide-out" class="side-nav fixed">
  <div class="logo">
    <a href="index.html" class="brand-logo">
      <img src="img/logo_crop2.png" class="center-align responsive-img">
    </a>
  </div>
  <div class="row" href="#welcome">
    <h5 class="center">Welcome to Worklife Workouts!</h5>
    <div class="col s10 offset-s1">
      <p class="side-text">
        Home of the ambitious, goal focused, entrepreneurial, and passionate. We provide the driven with tools to pursue a healthy and productive lifestyle.
        <br/><br/>
        I started Worklife Workouts to assist those that spend their days hustling. The people that have given up on incorporating fitness and health into their lives. We make it as easy as possible to get back on track!
        <br/><br/>
        - Jaime Murillo, Founder & CEO
      </p>
    </div>
  </div>
  <div class="row hidden" href="#packages">
    <h5 class="center">Online Subscriptions</h5>
    <div class="col s10 offset-s1">
      <p class="side-text">
        Not located in Nashville? Or maybe you just want a private plan without the hassle of setting up appointments? Maybe you just need a self guided routine?
        <br/><br/>
        There's no reason not to start with one of my Online Plans! You'll get:
        <ul>
          <li>Workout Templates</li>
          <li>Monthly Newsletter</li>
          <li>YouTube workout videos</li>
          <li>Unique Instagram workouts</li>
          <li>Nutritional guidelines</li>
          <li>Weekly Reports</li>
          <li>Facebook support groups</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="row hidden" href="#personal-training">
    <h5 class="center">Personal Training</h5>
    <div class="col s10 offset-s1">
      <p class="side-text">
        You have the motivation and the ability but you lack the knowledge and the tools. That's where I come in!
        <br/><br/>
        With me, you can get started with basic stability, mobility, and strength training. Learn about nutrition and healthy workouts to improve your professional performance and live a long and fulfilling life.
        <br/><br/>
        Sign up for a consultation to get started on your health journey!
      </p>
    </div>
  </div>
  <div class="row hidden" href="#contact">
    <div class="col s10 offset-s1">
      <p class="side-text">
        Signing up? That's great! Just fill out the brief form so that I can better understand what you're looking to achieve.
        <br/><br/>
        Click submit and I will contact you for a chat session so we can further explore your goals.
      </p>
    </div>
  </div>
  <div class="row" href="#social">
    <table id="social" width="100%">
      <colgroup>
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 5%;">
      </colgroup>
      <tbody>
        <tr>
          <td></td>
          <td><a href="http://www.facebook.com/worklifeworkouts"><img src="img/FB-f-Logo__blue_144.png" width="95%"></a></td>
          <td></td>
          <td><a href="http://www.instagram.com/worklifeworkouts"><img src="img/insta_glyph.png" width="95%"></a></td>
          <td></td>
          <td><a href="http://www.youtube.com"><img src="img/youtube_icon.png" width="95%"></a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
