<div id="slide-out" class="side-nav fixed">
  <div class="logo">
    <a href="index.html" class="brand-logo">
      <img src="img/logo_square.png" class="center-align responsive-img">
    </a>
  </div>
  <div class="row">
    <ul class="collapsible" data-collapsible="expandable">
      <li class="no-padding">
        <div class="collapsible-header active">Welcome to Worklife Workouts</div>
        <div class="collapsible-body">
          <div class="col s8 offset-s2">This is a company for ambitious, goal-minded, and buys individuals. My goal is to help you be your best self. Check out self-help articles, form videos, healthy meal ideas, and unique workout routines. Take a moment to check it out and message me if you're interested in starting a path to a healthier lifestyle.
          </div>
        </div>
      </li>
      <li class="no-padding">
        <div class="collapsible-header">About Me</div>
        <div class="collapsible-body">
          <img src="img/self.png" class="center-align circle responsive-img" width="100%">
          <div class="col s8 offset-s2">My name is Jimmy and I am an ACE Certified Personal Trainer. I graduated from the University of Florida where I earned a Bachelor's degree in Business Administration and received my ACE certification. I love helping people improve themselves and reach their full potential. I started Worklife Workouts after working full-time and realizing how hard it can be to start <i> and stick to</i> a healthy routine. I want to encourage entrepreneurs, full-timers, and parents to make time in their lives for healthy habits. Worklife Workouts is here to provide you the tools to live better for longer!
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col s4 offset-s2">
      <a href="http://www.instagram.com/worklifeworkouts"><img src="img/insta_glyph.png" width="95%"></a>
    </div>
    <div class="col s4">
      <a href="http://www.facebook.com/worklifeworkouts"><img src="img/FB-f-Logo__blue_144.png" width="95%"></a>
    </div>
  </div>
</div>
