<div id="slide-out" class="side-nav fixed">
  <div class="logo">
    <a href="index.html" class="brand-logo">
      <img src="img/logo_crop2.png" class="center-align responsive-img">
    </a>
  </div>
  <div class="row">
    <ul class="collapsible" data-collapsible="expandable">
      <li class="no-padding">
        <div class="collapsible-header active"><h5>Welcome to Worklife Workouts</h5></div>
        <div class="collapsible-body">
          <div class="col s10 offset-s1">
            <p class="side-text">
              This is a company for ambitious, goal-minded, and busy individuals. My goal is to help you be your best self. Check out self-help articles, form videos, healthy meal ideas, and unique workout routines.
              Take a moment to check it out and message me if you're interested in starting a path to a healthier lifestyle.
            </p>
          </div>
        </div>
      </li>
      <li class="no-padding">
        <div class="collapsible-header"><h5>About Me</h5></div>
        <div class="collapsible-body">
          <img src="img/self.png" class="center-align circle responsive-img" width="100%">
          <div class="col s10 offset-s1">
            <p class="side-text">
              My name is Jimmy and I am an ACE Certified Personal Trainer. I graduated from the University of Florida where I earned a Bachelor's degree in Business Administration and received my ACE certification.
              I love helping people improve themselves and reach their full potential. I started Worklife Workouts after working full-time and realizing how hard it can be to start <i> and stick to</i> a healthy routine.
              I want to encourage entrepreneurs, full-timers, and parents to make time in their lives for healthy habits. Worklife Workouts is here to provide you the tools to live better for longer!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <table id="social" width="100%">
      <colgroup>
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 5%;">
      </colgroup>
      <tbody>
        <tr>
          <td></td>
          <td><a href="http://www.facebook.com/worklifeworkouts"><img src="img/FB-f-Logo__blue_144.png" width="95%"></a></td>
          <td></td>
          <td><a href="http://www.instagram.com/worklifeworkouts"><img src="img/insta_glyph.png" width="95%"></a></td>
          <td></td>
          <td><a href="http://www.youtube.com"><img src="img/youtube_icon.png" width="95%"></a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
