<div class="s10 offset-s1">
  <div class="col s12 m6 l6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="img/packages.png">
      </div>
      <div class="card-content">
        <div class="row">
          <span class="card-title activator grey-text text-darken-4">Online Subscriptions</span>
          <div class="col s1 offset-s10">
            <a class="btn-floating waves-effect waves-light light-green lighten-1 activator"><i class="material-icons">add</i></a>
          </div>
        </div>
      </div>
      <div class="card-reveal">
        <div class="row">
          <span class="card-title grey-text text-darken-4">Online Subscriptions<i class="material-icons right">close</i></span>
        </div>
        <div class="row">
          <p>Worklife Workouts offers several options for getting online help with your fitness goals!
          <br/>
          Our <b>Journey Package</b> provides you with workout templates, nutritional guidelines, weekly reports, and peer support for only $15/month.
          <br/>
          <a href="#journey" class="waves-effect waves-light btn-large light-green lighten-1"><i class="material-icons">navigate_next</i></a> Start a Journey Package</a>
          <br/><br/>
          Our <b>Athletic Package</b> gets you everything offered in the Journey Package plus personal Skype support and individualized exercise routines for $50/month.</p>
          <br/>
          <a href="#athletic" class="waves-effect waves-light btn-large light-green lighten-1"><i class="material-icons">navigate_next</i></a> Start an Athletic Package</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="img/self2.png">
      </div>
      <div class="card-content">
        <div class="row">
          <span class="card-title activator grey-text text-darken-4">Personal Training Sessions</span>
          <div class="col s1 offset-s10">
            <a class="btn-floating waves-effect waves-light light-green lighten-1 activator"><i class="material-icons">add</i></a>
          </div>
        </div>
      </div>
      <div class="card-reveal">
        <div class="row">
          <span class="card-title grey-text text-darken-4">Personal Training Sessions<i class="material-icons right">close</i></span>
        </div>
        <div class="row">
          <p>Worklife Workouts offers customizable personal training sessions to meet your unique needs. You can book individual sessions for a range of fitness routines (strength training, cardio, HIIT, etc) or schedule session packages.
          Set up a free consultation to get started!</p>
          <br/><br/>
          <a href="#personal-training" class="waves-effect waves-light btn-large light-green lighten-1"><i class="material-icons">navigate_next</i></a> Explore Our Options</a>
        </div>
      </div>
    </div>
  </div>
</div>
