<div class="s10 offset-s1">
  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="img/burger_crop.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Recipes</span>
        <div class="col s1 offset-s10">
          <a class="btn-floating halfway-fab waves-effect waves-light light-green lighten-1 activator">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Recipes<i class="material-icons right">close</i></span>
        <p>Eating healthy shouldn't mean eating bland food. This burger was a delicious meal that let's me satisfy my cravings while keeping me on track for my goals.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="img/proper_form.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Proper Form</span>
        <div class="col s1 offset-s10">
          <a class="btn-floating halfway-fab waves-effect waves-light light-green lighten-1 activator">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Proper Form<i class="material-icons right">close</i></span>
        <p>Form is crucial to a successful workout and avoiding injury. I regularly post videos with examples of proper form
          for all kinds of different exercises.
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="img/self2.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Customized Workouts</span>
        <div class="col s1 offset-s10">
          <a class="btn-floating halfway-fab waves-effect waves-light light-green lighten-1 activator">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Customized Workouts<i class="material-icons right">close</i></span>
        <p>Contact me using the form below and ask about customized work out routines! A new routine is key to keeping your
          workouts interesting and avoiding plateaus.
        </p>
      </div>
    </div>
  </div>
</div>
