<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper light-green lighten-1">
      <a href="#slide-out" data-activates="slide-out" class="button-collapse show-on-small"><i class="material-icons">menu</i></a>
      <a href="index.html" class="brand-logo center">Worklife Workouts</a>
      <a class="dropdown-button show-on-small" href="#mobile-dropdown" data-activates="mobile-dropdown"><i class="material-icons right">more_vert</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="index.html">HOME</a></li>
        <li><a href="#media">MEDIA</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="blog.html">BLOG</a></li>
        <li><a href="#testimonials">TESTIMONIALS</a></li>
      </ul>
      <ul id="mobile-dropdown" class="dropdown-content">
        <li><a href="#media">MEDIA</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="blog.html">BLOG</a></li>
        <li><a href="#testimonials">TESTIMONIALS</a></li>
      </ul>
    </div>
  </nav>
</div>
