<div class="col s10 offset-s1">
	<h3 class="center">Offerings</h3>
	<div class="col s12 m10 offset-m1 l10 offset-l1">
		<table id="online" class="table highlight">
			<colgroup>
				<col span="1" style="width: 25%;">
				<col span="1" style="width: 75%;">
			</colgroup>
			<caption><h5>Online</h5></caption>
			<tbody>
				<tr>
					<td>Workout Templates</td>
					<td>Choose from outdoor, at-home, or goal-oriented plans</td>
				</tr>
				<tr>
					<td>Nutritional Guidelines</td>
					<td>Download pdfs to guide your caloric and nutritional needs.</td>
				</tr>
				<tr>
					<td>Weekly Reports</td>
					<td>Fill out goal sheets and weekly reports to track yourself</td>
				</tr>
				<tr>
					<td>Peer Support</td>
					<td>I'll be there every step of the way along with a peer network</td>
				</tr>
			</tbody>
		</table>
		<table id="personal-training" class="table highlight">
			<colgroup>
				<col span="1" style="width: 25%;">
				<col span="1" style="width: 75%;">
			</colgroup>
			<caption><h5>Personal Training</h5></caption>
			<tbody>
				<tr>
					<td>Half hour and hour sessions</td>
					<td>Personalize your sessions to meet your needs</td>
				</tr>
				<tr>
					<td>Goal Planning</td>
					<td>Goal assistance and preparedness through discussion and worksheets</td>
				</tr>
				<tr>
					<td>Variety of Packages</td>
					<td>Pick from 10 week, 16 week, or 24 week plans</td>
				</tr>
				<tr>
					<td>Anywhere</td>
					<td>Choose where you want to work out. At your apartment, gym, or outdoors!</td>
				</tr>
			</tbody>
		</table>
		<table id="group-fitness" class="table highlight">
			<colgroup>
				<col span="1" style="width: 25%;">
				<col span="1" style="width: 75%;">
			</colgroup>
			<caption><h5>Group Fitness</h5></caption>
			<tbody>
				<tr>
					<td>Apartments</td>
					<td>Talk to your apartment complex to see if they want to start group classes!</td>
				</tr>
				<tr>
					<td>Business</td>
					<td>Does your business want to incorporate group fitness classes?</td>
				</tr>
				<tr>
					<td>City and Community</td>
					<td>Do you and your friends want to start a bootcamp and get ready for a major life event?</td>
				</tr>
				<tr>
					<td>Peer Support</td>
					<td>I'll be there every step of the way along with a peer network</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<div class="col s10 offset-s1 m4 offset-m4 l4 offset-l4 center-align"><a href="#contact" class="waves-effect waves-light btn-large light-green lighten-1">Take Your First Step</a></div>
	</div>
</div>