<div class="col s12 m4 offset-m4 l4 offset-l4">
  <h3 class="center">Start your health journey today...</h3>
  <table id="journey">
    <colgroup>
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 75%;">
    </colgroup>
    <caption>Journey Package - $15 per month</caption>
    <tbody>
      <tr>
        <td>Workout Templates</td>
        <td>Choose from strength, stamina, cardio, HIIT, at-home, dumbbell, kettle-bell, or power lifting templates that get updated monthly.</td>
      </tr>
      <tr>
        <td>Nutritional Guidelines</td>
        <td>Guide yourself with the help of a nutritional booklet emailed to you. Learna bout calorie intake, healthy ingredients, and hydration.</td>
      </tr>
      <tr>
        <td>Weekly Reports</td>
        <td>Submit weekly reports on your progress and opinion of the workouts. Receive feedback on your performance to continue improving.</td>
      </tr>
      <tr>
        <td>Peer Support</td>
        <td>Become a member of the support groups online, be mentioned in a member spotlight moment, and connect with others to help each other on your journey.</td>
      </tr>
    </tbody>
  </table>
  <table id="athletic">
    <colgroup>
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 75%;">
    </colgroup>
    <caption>Athletic Package - $50 per month</caption>
    <tbody>
      <tr>
        <td>Journey Package</td>
        <td>Receive all the benefits from the Journey Package</td>
      </tr>
      <tr>
        <td>Skype Support</td>
        <td>Log on for weekly Skype sessions to monitor performance, talk about challenges, and receive live coaching.</td>
      </tr>
      <tr>
        <td>Customized Plans</td>
        <td>Receive monthly plans fine tuned to reach your athletic goals.</td>
      </tr>
      <tr>
        <td>Peer Support</td>
        <td>Become a member of the support groups online, be mentioned in a member spotlight moment, and connect with others to help each other on your journey.</td>
      </tr>
    </tbody>
  </table>
  <a class="waves-effect waves-light btn-large light-green accent-4">Take Your First Step</a>
</div>
