<div class="col s12 l10 offset-l1">
  <h3 class="center">Set up your free consultation today...</h3>
  <table id="solo_sessions">
    <colgroup>
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
    </colgroup>
    <caption><h5>Solo Sessions - $45</h5></caption>
    <tbody>
      <tr>
        <td>HIIT</td>
        <td>Strength</td>
        <td>Cardio</td>
        <td>Power</td>
      </tr>
      <tr>
        <td>Stamina</td>
        <td>Weekly Reports</td>
        <td>Athletic Training</td>
        <td>At Home</td>
      </tr>
    </tbody>
  </table>
  <table id="session_packages">
    <colgroup>
      <col span="1" style="width: 30%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 30%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 30%;">
    </colgroup>
    <caption><h5>Session Packages Starting at $165</h5></caption>
    <tbody>
      <tr>
        <td>15 Sessions</td>
        <td></td>
        <td>24 Sessions</td>
        <td></td>
        <td>32 Sessions</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <div class="col s12 l4 offset-l4"><a href="#contact" class="waves-effect waves-light btn-large light-green lighten-1">Start Your Journey</a></div>
</div>
