<div class="col s12 m6 offset-m3 l6 offset-l3">
	<h3 class="center-align">Recommended Products</h3>
</div>
<div class="col s10 offset-s1">
	<div class="row">
		<div class="col s12 m6 offset-m3 l6 offset-l3">
			<div class="slider products">
				<ul class="slides">
					<li>
						<iframe width="100%" height="100%" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=worklifeworko-20&marketplace=amazon&region=US&placement=B016D9IGRA&asins=B016D9IGRA&linkId=dc2751157e1d43122d29f70011fe668c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
						<div class="caption center-align"><h4>Vega Protein Sport</h4></div>
					</li>
					<li>
						<iframe width="100%" height="100%" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=worklifeworko-20&marketplace=amazon&region=US&placement=B016D9IGRA&asins=B016D9IGRA&linkId=dc2751157e1d43122d29f70011fe668c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
						<div class="caption center-align"><h4>Vega Protein & Greens</h4></div>
					</li>
					<li>
						<iframe width="100%" height="100%" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=worklifeworko-20&marketplace=amazon&region=US&placement=B00B8YUIK4&asins=B00B8YUIK4&linkId=9b74e6f01a4844a73a554c0a0f16625b&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
						<div class="caption center-align"><h4>Amino Energy</h4></div>
					</li>
					<li>
						<iframe width="100%" height="100%" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=worklifeworko-20&marketplace=amazon&region=US&placement=1514698137&asins=1514698137&linkId=db729d43618dead07690923811232c80&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
						<div class="caption center-align"><h4>Think and Grow Rich</h4></div>
					</li>
					<li>
						<iframe width="100%" height="100%" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=worklifeworko-20&marketplace=amazon&region=US&placement=B073XB2W4B&asins=B073XB2W4B&linkId=b86519f1486dda1f0f1d0bcab9b6ea38&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
						<div class="caption center-align"><h4>Kettlebells</h4></div>
					</li>
					<li>
						<iframe width="100%" height="100%" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=worklifeworko-20&marketplace=amazon&region=US&placement=B01IL6A0I6&asins=B01IL6A0I6&linkId=bc79ec53d6c18944afb072d66a58d687&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
						<div class="caption center-align"><h4>Resistance Bands</h4></div>
					</li>
					<li>
						<iframe width="100%" height="100%" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=worklifeworko-20&marketplace=amazon&region=US&placement=B00UXXF734&asins=B00UXXF734&linkId=212c432e2886a388f95a8b08be9595b8&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
						<div class="caption center-align"><h4>Yoga Mat</h4></div>
					</li>
					<li>
						<iframe width="100%" height="100%" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=worklifeworko-20&marketplace=amazon&region=US&placement=B01N24VNXM&asins=B01N24VNXM&linkId=3fe768fa4eb5863d11f8031c2bbbfb5f&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
						<div class="caption center-align"><h4>Beet Formula</h4></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>